html {
    background-color: black;
}

#StarWars {
height: 200px;
display: flex;
justify-content: center;
}
header {
    margin: 0 auto;
    margin-bottom: 6rem;
}
h1 {
    color: red;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 2.5em;
}

p {
color: white;
font-family: 'Play', sans-serif;
font-size: 1.5em;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 2rem;
    width: 100%; 
    max-width: 1500px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

